.App {
  background: url("https://lh3.googleusercontent.com/proxy/gQGtfuqfvOn9X3tKrYpQbXxkmOkby7thDuXPi3Ye--yr8YvJBqbP5DG8PJrF--b2oh7Z0s3lfit_mDCEOAQwQSaIS__xNjj0fur3FAjgvN8JJdiLAusRt3_TyA");
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
